<div class="container">
    <main role="main">
        <section class="row m-2 justify-content-center mb-4">
            <div class="col-md-12">
                <div class="col">
                    <div class="sppb-column-addons">
                        <div class="flex">
                            <div class="header text-center">
                                <h2 class="mt-2">¿PORQUÉ DEBE ELEGIR NUESTRA EMPRESA?</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <h4 class="text-center"><span><i class="far fa-check-square m-2"></i></i>Seguridad, Confianza y Amabilidad</h4>
                        <div class="col mt-3">
                            <p class="text-center">Contamos con personal altamente capacitado.</p>
                        </div>
                        <div class="text-center m-2 animate text-primary"><i class="fas fa-shield-alt fa-4x"></i></div>
                    </div>
                    <div class="col">
                        <h4 class="text-center"><span><i class="far fa-check-square m-2"></i></span>Procedimientos de Alta Cálidad.
                        </h4>
                        <div class="col">
                            <p class="text-center">Nos importa tu seguridad y bienestar y nos enfocamos en los mejores procesos.</p>
                        </div>
                        <div class="text-center m-2 animate text-primary"><i class="fas fa-handshake fa-4x"></i></div>
                    </div>
                    <div class="col">
                        <h4 class="text-center"><span><i class="far fa-check-square m-2"></i>Servicio Rápido, Seguro y Eficaz.
                        </h4>
                        <div class="col">
                            <p class="text-center">Nos importas tú por eso nos especializamos en nuestros procesos.</p>
                        </div>
                        <div class="text-center  m-2 animate text-primary"><i class="fas fa-shipping-fast fa-4x"></i></div>
                    </div>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3 color-ligth">
        </section>
    </main>
</div>