<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <%- include('../includes/section.ejs') %>

    <div class="container">
        <div class="row" style="display: flex">
            <div class="col-md-6 m-3">   
                <div class="row col banner h-50">
                    <img src="/images/limpiezaFosa.jpg" class="img-responsive mostrandoImg">

                    
                </div> 
                <div class="col mb-4">
                        <div class="col align-self-end bannerIndex pt-3 pb-1">
                            <div class="text-center animate text-primary"><i class="fas fa-medal fa-3x"></i></div>
                            <div class="col mt-2 text-center"> <h4 class="font-weight-bold">Contamos con servicio 24/7</h4></div>
                            <div class="col mt-3 mb-3">
                                <p class="text-center">Contamos con servicio las 24 horas y los 7 dias de la semana.</p>
                            </div>
                        
                        </div>
                </div>           
                   
            </div>
            <div class="col m-3">
                <div class="text-left mb-2"><h4>Limpieza de Fosas Sépticas El Salvador. <span > <i class="fas fa-grip-lines"></i></span></h4>  </div>
                <div class="cold-md-4">
                    <h3 class="m-3 subtitle"> <span>¿Tienes malos olores, necesiatas que alguien limpie por tí?</span> </h3>
                </div>
                <div class="m-3 text-element">
                    <p> <span style="font-size: 18px;">Adalberto Rivera Services</span> es una de las mejores empresas del país en el aréa <span style="font-size: 20px;">Limpieza de Fosas Sépticas</span>
                        ha proporcionado sus servicios de <span style="font-size: 18px;">limpieza de fosas</span> de alta calidad desde el 2007.
                    </p>
                    <p>Nos especializamos para brindar servicios de la más alta cálidad en la <span style="font-size: 18px;">limpieza de fosas sépticas, limpieza de trampa de grasa, inspecciones preventivas y mantenimientos sépticos.</span></p>
                    <p>Nuestros técnicos están capacitados para trabajar con los mas latos estandares de <span style="font-size: 18px;">profesionalismo, presición, rapidez y servicio al cliente de cálidad</span> estamos ubicados en: Las Delicias, Santa Tecla, La Libertad.</p>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="col mt-2 text-center"> <h5 class="font-weight-bold">Contáctanos:</h5></div>
                        <div class="col mt-3">
                            <a href="tel:50377711861" target="_blank">
                                        <button type="button" class="btn btn-info border-white">
                                            <span>
                                                <i class="fas fa-phone-alt mr-2"></i>+(503) 7771-1861
                                            </span>
                                        </button>
                                    </a>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="col mt-2 text-center"><h5 class="font-weight-bold">Solicita una cotización:</h5></div>
                        <div class="col mt-3">
                            <a href="https://api.whatsapp.com/send?phone=50377711861&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios" target="_blank">
                                        <button type="button" class="btn btn-success border-white">
                                            <span>
                                                <i class="fab fa-whatsapp mr-2"></i></i>+(503) 7771-1861
                                            </span>
                                        </button>
                                    </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../includes/end.ejs') %>